<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="qbAgentMySqlDbConnection" connectionString="server=localhost;userid=root;password=12345;database=quickbooks;" />
	</connectionStrings>
	<appSettings>
		<add key="Path" value="C:\QuickBooksSetup\Sample Stores\"/>
		<add key="Logs_Folder" value="D:\Projects\Quick_Books_Integeration\QB_Agent_Logs"/>
	</appSettings>
</configuration>
